html {
    font-size: 16px;
    font-family: Raleway;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    height: 1024px;
    background: linear-gradient(to bottom, #dcdcdc, #fdfdfd );
}

.hero_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.action_container {
    display: flex;
    gap: 22px;
    margin-top: 30px;
}

h1 {
margin: 0;
font-size: 7.75rem; 
font-weight: 600;
color: #212121;
}

h3 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 400;
    color: #21212180; 
}

.inputform {
    width: 27.25rem;
    height: 1.188rem;
    border-radius: 6.25rem;
    border-color: #21212158;
    background-color: #d9d9d92e;
    font-family: Raleway;
    font-size: 1.5rem;
    padding: 1.5rem;
    box-shadow: inset 2px 2px 20px  rgba(0, 0, 0, 0.04);
}



::placeholder {
    text-align: center;
    font-size: 1.5rem;
    color: #21212158;

}

button {
    height: 4.188rem;
    width: 15.438rem;
    border-radius: 6.25rem;
    border-width: 1.5px;
    background-color:#FAC748 ;
    font-size: 1.5rem ;
    font-weight: 400;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.249);
}

button:hover {
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.534);
}